<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<Sites>
		<add SiteName="SitefinitySandbox" SiteId="258b320d-6b74-474d-a65b-4eb2713869f6" />
	</Sites>
</analyticsConfig>