<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<notifications newPostNotificationTemplateId="e0059967-57d8-64b6-99da-ff0000024ff7" newThreadNotificationTemplateId="e1059967-57d8-64b6-99da-ff0000024ff7" />
</forumsConfig>